.cabecera{
    background-color: #000;
    color: white;
    text-align: center;
}

body{
    background-color: #000
}

.cuerpo{
    background-color: #1b1b20;
    border: none;
    padding: 0%;
}

footer{
    background-color: #36363f;
    display: flex;
    justify-content: center;
}

img{
    width: 80px;
}