.cuerpo{
    background-color: #1f1e24;
    color: white
}

.carta{
    padding-left: 15px;
    padding-right: 15px;
}

.parte-baja{
    background-color: #22202b;
}

.cabeza{
    font-size: 25px;
}

